.input {
  width: 100%;
  border-bottom: 1px solid #3369f3;
  border-top: none;
  border-right: none;
  border-left: none;
  padding-top: 7px;
  padding-bottom: 7px;
  font-size: 13px;
  background-color: transparent;
  box-sizing: border-box;

  &::placeholder {
    color: #999999;
  }

  &:hover {
    cursor: text;
  }

  &:focus-visible {
    outline-color: transparent;
    outline-style: auto;
    outline-width: 0px;
  }
}
