@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("./src/fonts/Inter-Regular.woff") format("woff"),
    url("./src/fonts/Inter-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("./src/fonts/Inter-Bold.woff") format("woff"),
    url("./src/fonts/Inter-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("./src/fonts/Inter-Black.woff") format("woff"),
    url("./src/fonts/Inter-Black.woff2") format("woff2");
}

@import "/src/pages/main/styles.scss";
@import "/src/pages/chat/styles.scss";
@import "/src/pages/signin/styles.scss";
@import "/src/pages/signup/styles.scss";
@import "/src/pages/error/styles.scss";
@import "/src/pages/profile/styles.scss";

@import "/src/components/button/button.scss";
@import "/src/components/input/input.scss";
@import "/src/components/profileField/profileField.scss";
@import "/src/components/profileButton/profileButton.scss";
@import "/src/components/avatar/avatar.scss";
@import "/src/components/messageInput/messageInput.scss";

.body-root {
  font-family: "Inter", serif;
  margin: 0px;
}

:root {
  --main-color: #3369f3;
  --main-color-light: #2362eb;

  --grey-color-dark: #1e1e1e;
  --grey-color: #999;
  --grey-color-light: #efefef;

  --white-color: #fff;
  --black-color: #000;

  --error-color: #ff0000;
}

:root {
  --main-color: #3369f3;
  --main-color-light: #2362eb;

  --grey-color-dark: #1e1e1e;
  --grey-color: #999;
  --grey-color-light: #efefef;

  --white-color: #fff;
  --black-color: #000;

  --error-color: #ff0000;
}
