.profileButton {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: transparent;
  color: var(--main-color);
  border: none;
  cursor: pointer;
  text-align: left;

  &__underline {
    border-bottom: 1px solid var(--grey-color);
  }
}
