.profileButton {
  &__underline {
    border-bottom: 1px solid #eaeaea;
  }

  &__root {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: transparent;
  }

  &__button {
    background-color: transparent;
    color: #3369f3;
    border: none;
    cursor: pointer;
  }
}
