.chat {
  &__root {
    width: 100vw;
    height: 100vh;
    background-color: var(--white-color);
    display: flex;
    flex-direction: row;
  }

  &__chat-list-container {
    width: 30%;
    height: 100%;
    background-color: var(--grey-color-light);
    border-right: 1px solid var(--grey-color);
  }

  &__message-list-container {
    flex-grow: 2;
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
  }

  &__message-list {
    flex-grow: 2;
    width: 100%;
  }

  &__send-message-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-top: 11px;
    padding-bottom: 11px;
  }
}
