.messageInput {
  width: 100%;
  height: 32px;
  border: none;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 12px;
  background-color: var(--grey-color-light);
  border-radius: 16px;

  &::placeholder {
    color: var(--grey-color);
  }

  &:hover {
    cursor: text;
  }

  &:focus-visible {
    outline-color: transparent;
    outline-style: auto;
    outline-width: 0px;
  }
}
