@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/Inter-Regular.woff') format('woff'),
    url('./fonts/Inter-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/Inter-Bold.woff') format('woff'),
    url('./fonts/Inter-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  src: url('./fonts/Inter-Black.woff') format('woff'),
    url('./fonts/Inter-Black.woff2') format('woff2');
}

.body-root {
  font-family: 'Inter', serif;
  margin: 0px;
}

:root {
  --main-color: #3369f3;
  --main-color-light: #2362eb;

  --main-background-color-dark: #fbfbfb;
  --main-background-color: #e5e5e5;

  --grey-color-dark: #1e1e1e;
  --grey-color: #999;
  --grey-color-light: #efefef;

  --white-color: #fff;
  --black-color: #000;

  --error-color: #ff0000;

  --sky-blue: #e4edfd;
}
